body {
  color: white;
  margin: 25px;
  font-family: 'Merriweather', serif;
}

#map_area {
  width: 100%;
}

.jvectormap-region {
  transition: fill-opacity 0.45s;
}

.title {
  color: #2c3e50;
  text-align: center;
  font-size: 1.5em;
  margin-left: 15px;
  margin-bottom: 1.1em;
}

.jvectormap-zoomin, .jvectormap-zoomout {
  right: 0;
  left: auto;
  background: #094f90;
  width: 22px;
  height: 17px;
  padding-top: 8px;
  margin-right: 8px;
  opacity: 0.8;
  z-index: 1000;
}

.jvectormap-zoomin:hover, .jvectormap-zoomout:hover {
  opacity: 1;
}

.jvectormap-zoomout {
  margin-top: 15px;
}

.radar-circle {
  width: 0px;
  height: 0px;
  margin-top: 0px;
  margin-left: 0px;
  border: 1px solid rgba(255, 92, 0, 1);
  border-radius: 300px;
  background: rgba(255, 92, 0, 0.56);
  opacity: 0.8;
  position: absolute;
  z-index: 2;
  display: flex;
}

.radar-circle-content {
  margin: auto;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
}

.author {
  font-size: 0.5em;
}

.gh-link {
  color: #fff;
}

footer {
  color: #16a085;
  position: fixed;
  text-align: center;
  width: 100%;
  color: black;
  font-size: 0.7em;
  left: 0;
  margin-top: 5px;
}

footer a {
  color: black;
}

.twitter-follow-button {
  position: absolute !important;
  right: 30px;
}

.commit-location {
  font-size: 1.2em;
  padding: 3px;
}

.commit-author {
  padding: 3px;
  font-size: 0.9em;
  padding-top: 1px;
}

.jvectormap-tip {
  opacity: 0.9;
  border: 1px solid #ecf0f1;
}

.middle-stripe {
  height: 4em;
  width: 100%;
  position: fixed;
  top: 50%;
  margin-left: -25px;
  margin-top: -2em;
  background: rgba(29, 109, 184, 0.15);
  display: flex;
}

.middle-stripe-text {
  margin: auto;
}

.pulsate {
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0.0;
}

@keyframes pulsate {
  0% {transform: scale(0.1, 0.1); opacity: 0.0;}
  50% {opacity: 1.0;}
  100% {transform: scale(1.2, 1.2); opacity: 0.0;}
}

@media only screen and (max-device-width: 600px){
  footer a {
    display: block;
  }
}
