body {
  /*background: #282C34;*/
  color: white;
  margin: 0;
  font-family: 'Merriweather', serif;
}

#map_area {
  height: 600px;
  width: 100%;
}

.jvectormap-zoomin, .jvectormap-zoomout {
  display: none;
}

.radar-circle {
  width: 0px;
  height: 0px;
  margin-top: 0px;
  margin-left: 0px;
  border: 1px solid rgba(255, 92, 0, 1);;
  border-radius: 300px;
  background: rgba(255, 92, 0, 0.56);
  opacity: 0.8;
  position: absolute;
  z-index: 2;
  display: flex;
}

.radar-circle-content {
  margin: auto;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}
