{{top-bar}}
{{map-area}}
<div class="middle-stripe">
  <div class="middle-stripe-text">
    Hold on<span>...</span>
  </div>
</div>

<footer>
  <a href="http://codeandtechno.com" target="_blank">
    codeandtechno.com
  </a>
  <a href="https://twitter.com/matixmatix" class="twitter-follow-button" data-show-count="false">Follow me</a>
</footer>
