{{top-bar}}
{{map-area}}

<footer>
  by
  <a href="http://codeandtechno.com">
    codeandtechno.com
  </a>
  <a href="https://twitter.com/matixmatix" class="twitter-follow-button" data-show-count="false">Follow @matixmatix</a>
</footer>
